*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.blanco{
    color: #f3f3f3;
}

.negro{
    color: #1d1d1d;
}

.moradoA{
    color: #222959;
}

.moradoB{
    color: #894474;
}

.focus{
    background-color: #222959;
    color: #f3f3f3;
}

header{
    display: flex;
    justify-content: space-around;
    padding: 48px 12px;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header.visible{
    opacity: 1;
}

header nav{
    margin-left: 130px;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
    padding: 10px;
    margin-left: 24px;
}

.section2 h1, .section2 a, .section2 i {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.section1{
    min-height: 100vh;
    font-size: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2{
    background-image: url("acercade.png");
    min-height: 70vh;
    background-color: #894474;
    /*display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 50px;*/
    display: flex;
    align-items: center;
    justify-content:space-around ;
    background-size: cover;
}

.redes{
    font-size: 26px;
}

.section2 p{
    max-width: 400px;
    background-color: white;
    padding: 38px 38px 88px 38px;
    margin: 138px 100px 0px 100px;
    opacity: 0.6;
}

.section2 h1{
    color: white;
    font-size: 46px;
    margin-bottom: 150px;
}
.section3{
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: url("servicios.png");
    height: 80vh;
    align-items: center;
}

.section3 h1{
    margin: 0;
    padding: 28px;
    background-color: #894474;
    color: white;
    font-size: 36px;
}

.web{
    text-decoration: none;
    font-weight: bold;
    /*padding-left: 28px;*/
    color: black;
}

.section3 h3{
    background-color: aquamarine;
    margin-bottom: 16px;
}

.servicios{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 22px 0px;
}

.servicios div{
    max-width: 25%;
}

.servicios h2{
    margin-top: 10px;
}

button{
    border: none;
    padding: 14px 22px;
    background-color: #222959;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: #444b7c;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.section4{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    background-image: url("blog.png");
    background-size: cover;
    align-items: center;
}

.section4 p{
    width: 70%;
    border: 1px solid black;
    height: 50vh;
    background-color: #f3f3f3;
    opacity: 0.5;
}

footer{
    display: flex;
    justify-content: space-around;
    min-height: 40vh;
    align-items: center;
}

footer p{
    margin: 12px 0px;
}