*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 0px 1px black;
}

html, body {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    height: 100%;
    overflow-y: scroll;
}

#hero, #acerca-de, #servicios, #blog, #contacto{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

body{
    /*background: linear-gradient(to left, #894474, #222959);*/
    /*background: #4A314D;*/
    background-color: #f3f3f3;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

/**********      HEADER       ********/
header{
    background-color: #f3f3f3;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 0px 3px #1d1d1d;
    position: fixed;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav{
    width: 30%;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    display: none;
}

nav a:hover{
    /*background: #4A314D;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #f3f3f3;*/
    border-bottom: 1px solid #1d1d1d;
}

header a{
    text-decoration: none;
    color: #1d1d1d;
}

#home{
    font-size: 1.4rem;
}

#hamburguesa{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.6rem;
}

#cerrar{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.6rem;
    display: none;
}

/************************************/

#hero{
    align-items: center;
    font-size: 4rem;
    background-color: #f3f3f3;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#urbanology{
    font-size: 4rem;
    margin: 0 auto;
}

#acerca-de{
    min-height: 100vh;
    /*background-image: url("acercade1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

#acercade::before{

}

#titulo{
    /*padding-top: 6rem;*/
    /*max-width: 60%;*/
    /*color: #f3f3f3;*/
    /*font-weight: bold;*/
    font-size: 2.7rem;
    margin: 0 auto;
}

.redes-container{
    display: flex;
    justify-content: flex-end;
}

.redes-container a{
    font-size: 1rem;
    color: #1d1d1d;
    text-decoration: none;
    margin-right: 2px;
}

#servicios{
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-image: url(acercade.png);*/
}

.servicios-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicios-nav div{
    width: 70%;
    background-color: #d9d9d9;
    padding: 1rem;
    margin: 1rem;
}

#titulo-servicio{
    margin-bottom: 1rem;
}

.flecha{
    font-size: 2rem;

}

/*
.blog-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
*/
.blog-card{
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: center;
}
/*
.blog-card p{
    width: 49%;
}*/

.blog-img{
    width: 49%;
    height: 55vh;
    object-fit: fill;
    border-radius: 1rem;
}
/*
#servicios a{
    font-size: 1.5rem;
    color: #f3f3f3;
    text-decoration: none;
}*/
/*
.card{
    background-color: #f3f3f3;
    /*margin: 1rem;*
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /*padding: 1rem;*
    width: 100%;
    height: auto;
    margin: 1rem 0rem;
    justify-content: space-between;
}

.card img{
    height: 12rem;
    border-radius: 1rem;
    /*margin-bottom: 1rem;*
    margin: 1rem;
}

.card div{
    margin: 0rem 1rem 1rem 1rem;
}

.card h2{
    font-size: 1.8rem;
    height: 70px;
}

.card p{
    height: 60px;
}
*/
.card button{
    border: none;
    padding: 0.3rem 0.5rem;
    background-color: #1d1d1d;
    color: #f3f3f3;
    margin-top: 0.5rem;
    border-radius: 1rem;
}

.card div{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.card button:hover{

}

#blog{
    
    min-height: 100vh;/*
    display: flex;
    justify-content: center;
    align-items: center;*/
    padding: 0 1rem;
    display: flex;
    align-items: center;
    
}

.blog-text-container{
    /*
    background-color: #f3f3f3;
    width: 100%;
    min-height: 90vh;
    border-radius: 1rem;
    margin: 5rem 1rem 1rem 1rem;
    padding: 1rem;
    display: flex;
    align-items: self-start;
    margin: 0rem 1rem;*/
    width: 40%;
}

.blog-text-container h2{
    padding: 1rem;
    background-color: #d9d9d9;
}

.blog-text-container p{
    padding: 0 1rem 1rem 1rem;
    background-color: #d9d9d9;
}

.blog-text-container img{
    width: 70%;
    object-fit: contain;
    border-radius: 1rem;
    margin-left: 1rem;
}

#contacto{
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
}

#contacto span{
    font-size: 4rem;
}

#contacto h3{
    font-size: 1.9rem;
    text-align: center;
    font-weight: 600;
}

#contacto h4{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}

.form-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

form{
    width: 40%;
}

form button{
    border: none;
    /*box-shadow: 1px 1px #1d1d1d;*/
    background-color: #1d1d1d;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    display: block;
    color: #f3f3f3;
}

input{
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #d9d9d9;
    width: 49%;
    /*
    border-bottom: 1px solid #1d1d1d;
    border-right: 1px solid #1d1d1d;*/
}

#input-background{
    /*background-color: #d9d9d9;*/
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

#consulta{
    width: 100%;
    background-color: #d9d9d9;
    height: 12vh;
    margin-bottom: 1rem;
}

footer a{
    color: #1d1d1d;
    font-size: 1rem;
    text-decoration: none;
}

/******** MEDIA QUERIS ************/

/* ESTILOS TABLET */
@media (min-width: 787px) {
    #hamburguesa{
        display: none;
    }

    nav{
        display: flex;
        flex-direction: row;
        width: 40%;
        align-items: center;
    }
    /*
    .card-container{
        display: flex;
        /*flex-wrap: wrap;
        justify-content: space-between;*
        gap: 4rem;
        min-height: 42vh;
    }*/

    .card{
        /*width: 49%;*/
    }
}

/* ESTILOS DESKTOP */
@media (min-width: 975px) {
    nav{
        width: 25%;
    }

    #titulo{
        /*max-width: 30%;*/
    }

    .card-container{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 15vh;
    }

    .card{
        width: 22%;
    }

    .card span{
        font-size: 2rem;
    }

    #footer-contactos{
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-align: center;
    }
}
/*****************************/
