<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Urbanology</h1>
        <button>Get Started</button>
    </header>
    <main>
        <section>
            <div class="margin-100">
                <h2>Unlock Your Business's Full Potential</h2>
                <p>Elevate your construction projects with Urbanology's expert management in Buenos Aires, ensuring and excellence at every step.</p>
                <button>Start your project</button>
            </div>
            <div>
                <img class="firstimg" src="img/stockimage1.jpg" alt="arquitecto revisando planos en una tablet">
            </div>
        </section>
        <section class="section2">
            <h2>Efficient project delivery in Argentina</h2>
            <p>Urbanology is your trusted partner in seamless construction project management. Based in Buenos Aires, we specialize in delivering efficient, innovative solutions tailored to urban landscapes. Our dedicated team ensures precision, transparency, and excellence at every project stage, turning visionary concepts into reality with unmatched expertise and commitment to quality.</p>
        </section>
        <section class="section3">
            <img class="monito" src="img/stockimage2.jpg" alt="arquitectos supervisando obra">
        </section>
        <section>
            <div>
                <h3>Comprehensive site supervision</h3>
                <div>
                    <img src="/" alt="planos">
                    <h4>Comprehensive project planning</h4>
                    <p>Meticulously crafted plans to ensure your construction project runs smoothly and efficiently.</p>
                </div>
                <div>
                    <img src="/" alt="viendo tablet">
                    <h4>Risk management solutions</h4>
                    <p>Indentify potential risks early and implement strategies to mitigate their impact.</p>
                </div>
            </div>
            <div>
                <h3>Budget</h3>
                <div>
                    <img src="/" alt="arquitecto al telefono">
                    <h4>Budget optimization strategies</h4>
                    <p>Maximize resources with precise dubget management, ensuring cost-effective project delivery.</p>
                </div>
                <div>
                    <img src="/" alt="planos">
                    <h4>Quality assurance oversigth</h4>
                    <p>Maintain high standars with thorough monitoring and auqlity checks throughout the project.</p>
                </div>
            </div>
        </section>
        <section>
            <div>
                <h1>SLIDDER</h1>
            </div>
        </section>
        <section>
            <div>
                <h1>COMMENTS</h1>
            </div>
        </section>
        <section>
            <img src="/" alt="arquitecto en obra">
            <div>
                <h2>Building visions, creating reality.</h2>
                <p>Urbanology is a premier construction project management firm based in Buenos Aires, Ciudad Autónoma de Buenos Aires, Argentina. We specialize in transforming blueprints into thriving structures through innovative strategies and meticulous planning. Our team of seasoned professionals is dedicated to delivering excellence and ensuring every project is executed with precision and efficiency. At Urbanology, we take pride in our ability to manage complexity and deliver results that exceed expectations.</p>
            </div>
        </section>
        <section>
            <h1>Construction project management packages</h1>
            <div>
                <div>
                    <img src="/" alt="plan 1">
                    <h3>Basic project management</h3>
                    <p>$1.500 <span>per project</span></p>
                    <button>More info</button>
                    <p>Ideal for small-scale construction projects with essential management services.</p>
                    <ul>
                        <li>Initial consultation</li>
                        <li>Project planning</li>
                        <li>Budget estimation</li>
                    </ul>
                </div>
                <div>
                    <img src="/" alt="plan 2">
                    <h3>Standar project management</h3>
                    <p>$3.000 <span>per project</span></p>
                    <button>More info</button>
                    <p>Includes all features from previous tier with added oversigth and auqlity assurance.</p>
                    <ul>
                        <li>Resource allocation</li>
                        <li>Quality control</li>
                        <li>Progress reports</li>
                    </ul>
                </div>
                <div>
                    <img src="/" alt="plan 3">
                    <h3>Comprehensive project management</h3>
                    <p>$5.000 <span>per project</span></p>
                    <button>More info</button>
                    <p>Includes all features from previous tiers with full-scale management for complex projects.</p>
                    <ul>
                        <li>Risk management</li>
                        <li>Supplier coordination</li>
                        <li>Full reporting</li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <h1>Explore our management insights</h1>
            <div>
                <h2>What services does Urbanology offer in construction project management?</h2>
                <h3>Urbanology offers comprehensive construction project management services, including planning, coordination, and supervision of construction processes in Buenos Aires</h3>
            </div>
            <div>
                <h2>How does Urbanology ensure projects are completed on time?</h2>
                <h3>We use advanced scheduling technigues and proactive project management strategies to minimize delays and ensure timely project completion.</h3>
            </div>
            <div>
                <h2>What experience does Urbanology have in construction project management?</h2>
                <h3>Urbanology has extensive experience managing diverse construction projects across Buenos Aires, delivering succesfull outcomes through expertise and local knowledge.</h3>
            </div>
            <div>
                <h2>How can Urbanology help with budget management in a construction project?</h2>
                <h3>Our team meticulously monitors expenses and employs cost-control measures to ensure your project stays without comprimising quality.</h3>
            </div>
            <div>
                <h2>Why should I choose Urbanologyfor my construction project management needs?</h2>
                <h3>Choosing Urbanology means partening with experts dedicated to delivering efficient, high-quality project management services tailored yo your specific requierements.</h3>
            </div>
        </section>
        <section>
            <div>
                <h2>Streamline your construction projects</h2>
                <p>Experience seamless project management with Urbanology. Optimize scheduling, budgeting, and resource allocation efficiently in Buenos Aires. Let us build your vision with precision and expertise.</p>
                <button>Contact us</button>
            </div>
        </section>
        <section>
            <h1>LOCATION</h1>
        </section>
    </main>
    <footer>
        <h3>Urbanology</h3>
        <h3>Made with ...</h3>
    </footer>
</body>
</html>